<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539063,0.206522}</string>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,101},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539063,0.206522}</string>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,33},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53125,0.184783}</string>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.546875,0.195652}</string>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,211},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.546875,0.195652}</string>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,67},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53125,0.195652}</string>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,137},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_BlueSlime_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539063,0.173913}</string>
                <key>spriteOffset</key>
                <string>{5,-17}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,92}</string>
                <key>textureRect</key>
                <string>{{1,173},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlueSlime_Run.png</string>
            <key>size</key>
            <string>{64,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0654b9bc6e20529216b81e22ee8174ce:4d9705cba34bd098fe82a150dec0a980:d76990f9e44bb8316344900a73ce2f5e$</string>
            <key>textureFileName</key>
            <string>BlueSlime_Run.png</string>
        </dict>
    </dict>
</plist>
