<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaMonk_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.410526,0.197674}</string>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{68,1},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaMonk_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.463158,0.22093}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{1,71},{53,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_NinjaMonk_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494737,0.197674}</string>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{35,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{133,1},{35,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaMonk_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494737,0.22093}</string>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_NinjaMonk_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494737,0.209302}</string>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{71,71},{49,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaMonk_Attack.png</string>
            <key>size</key>
            <string>{169,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0faac3179cb334a7dd650ac23a70654f:54c303fc54f0d257c15bbf1417865947:ea8a02ecc2394da57a13be6d76fd6637$</string>
            <key>textureFileName</key>
            <string>NinjaMonk_Attack.png</string>
        </dict>
    </dict>
</plist>
