<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaPeasant_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.0416667}</string>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaPeasant_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.0520833}</string>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,137},{50,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_NinjaPeasant_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.458333,0.03125}</string>
                <key>spriteOffset</key>
                <string>{1,-33}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{17,57},{60,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_NinjaPeasant_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.03125}</string>
                <key>spriteOffset</key>
                <string>{9,-41}</string>
                <key>spriteSize</key>
                <string>{78,14}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,57},{78,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaPeasant_Dead.png</string>
            <key>size</key>
            <string>{48,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a387ffbcb1f7d0cdaab5ccf819d61ed:47ebcc4f231211b04320d46b513b6d41:f488469d0b23e4cea84760e975a64917$</string>
            <key>textureFileName</key>
            <string>NinjaPeasant_Dead.png</string>
        </dict>
    </dict>
</plist>
