<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>1001</key>
    <string>金铲铲之战</string>
  </dict>
  <dict>
    <key>1002</key>
    <string>开始游戏</string>
  </dict>
  <dict>
    <key>1003</key>
    <string>退出游戏</string>
  </dict>
  <dict>
    <key>1004</key>
    <string>训练模式</string>
  </dict>
  <dict>
    <key>1005</key>
    <string>联机模式</string>
  </dict>
  <dict>
    <key>1006</key>
    <string>音量大小</string>
  </dict>
  <dict>
    <key>1007</key>
    <string>画质</string>
  </dict>
  <dict>
    <key>1008</key>
    <string>低</string>
  </dict>
  <dict>
    <key>1009</key>
    <string>中</string>
  </dict>
  <dict>
    <key>1010</key>
    <string>高</string>
  </dict>
  <dict>
    <key>2001</key>
    <string>升级</string>
  </dict>
  <dict>
    <key>2002</key>
    <string>刷新</string>
  </dict>
  <dict>
    <key>2003</key>
    <string>级</string>
  </dict>
  <dict>
    <key>2004</key>
    <string>经验：</string>
  </dict>
  <dict>
    <key>2005</key>
    <string>金币：</string>
  </dict>
  <dict>
    <key>2006</key>
    <string>出售</string>
  </dict>
</plist>