<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505263,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{1,69},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505263,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{82,1},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505263,0.125}</string>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{77,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{1,137},{77,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.547368,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{78,69},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.547368,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.578947,0.075}</string>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{153,69},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.578947,0.0625}</string>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{80,135},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_NinjaMonk_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.621053,0.0625}</string>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{159,1},{55,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaMonk_Run.png</string>
            <key>size</key>
            <string>{215,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:050289dd5372d135348ce740e695c77f:bc6312678024e9026906ce98db7c62c4:70dc47f2d7f98f4ddd2e52e6d6cec15f$</string>
            <key>textureFileName</key>
            <string>NinjaMonk_Run.png</string>
        </dict>
    </dict>
</plist>
