<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaMonk_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.382979,0.121951}</string>
                <key>spriteOffset</key>
                <string>{-18,2}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{1,61},{48,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_NinjaMonk_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.382979,0.109756}</string>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{77,49},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaMonk_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265957,0.109756}</string>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaMonk_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.287234,0.109756}</string>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{53,1},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_NinjaMonk_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.297872,0.109756}</string>
                <key>spriteOffset</key>
                <string>{10,-28}</string>
                <key>spriteSize</key>
                <string>{74,14}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{1,111},{74,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaMonk_Dead.png</string>
            <key>size</key>
            <string>{122,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0405ad07b605d2fa269de377c8c16f15:6fec1345c1320588737adc26853bdb80:dcc9c7f72783397648e1499f2da39391$</string>
            <key>textureFileName</key>
            <string>NinjaMonk_Dead.png</string>
        </dict>
    </dict>
</plist>
