<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.479167,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{55,1},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,129},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0520833}</string>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{53,67},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.479167,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{51,131},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_NinjaPeasant_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.489583,0.0833333}</string>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,65},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaPeasant_Run.png</string>
            <key>size</key>
            <string>{104,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6acacc2a7b50ac3ce258cc676668503:399283b9a2a1106764b316c7c134b040:236a8b43c03c3e938a80e4642d4511ad$</string>
            <key>textureFileName</key>
            <string>NinjaPeasant_Run.png</string>
        </dict>
    </dict>
</plist>
