<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaPeasant_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.510204,0.119565}</string>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{49,1},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaPeasant_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.119565}</string>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaPeasant_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.510204,0.130435}</string>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{163,1},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaPeasant_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.489796,0.119565}</string>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{93,1},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaPeasant_Skill.png</string>
            <key>size</key>
            <string>{230,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c9d1071867769a294cd88600699dc92:7196d51477d885038664fed7d46cf799:2b8e48fa7749674dfe040ba1fbc7bb27$</string>
            <key>textureFileName</key>
            <string>NinjaPeasant_Skill.png</string>
        </dict>
    </dict>
</plist>
