<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaPeasant_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.397849,0.08}</string>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{186,1},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaPeasant_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419355,0.08}</string>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{47,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{137,1},{47,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaPeasant_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.473118,0.0933333}</string>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaPeasant_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505376,0.0933333}</string>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{70,1},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaPeasant_Attack.png</string>
            <key>size</key>
            <string>{230,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f1696cd94d4165dc678e46c341b703:aa829184f47de51deb001694de67f77f:6ec280d0b5cbc8921448293c6e1d7532$</string>
            <key>textureFileName</key>
            <string>NinjaPeasant_Attack.png</string>
        </dict>
    </dict>
</plist>
