<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>1001</key>
    <string>金铲铲之战</string>
  </dict>
  <dict>
    <key>1002</key>
    <string>开始</string>
  </dict>
  <dict>
    <key>1003</key>
    <string>商店</string>
  </dict>
  <dict>
    <key>1004</key>
    <string>退出</string>
  </dict>
  <dict>
    <key>1005</key>
    <string>升级</string>
  </dict>
  <dict>
    <key>1006</key>
    <string>刷新</string>
  </dict>
  <dict>
    <key>1007</key>
    <string>级</string>
  </dict>
  <dict>
    <key>1008</key>
    <string>经验：</string>
  </dict>
  <dict>
    <key>1009</key>
    <string>金币：</string>
  </dict>
</plist>