<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>1</key>
    <string>chessButton/1A.png</string>
  </dict>
  <dict>
    <key>-1</key>
    <string>chessButton/1B.png</string>
  </dict>
  <dict>
    <key>-111</key>
    <string>chessButton/1C.png</string>
  </dict>
  <dict>
    <key>2</key>
    <string>chessButton/2A.png</string>
  </dict>
  <dict>
    <key>-2</key>
    <string>chessButton/2B.png</string>
  </dict>
  <dict>
    <key>-222</key>
    <string>chessButton/2C.png</string>
  </dict>
  <dict>
    <key>3</key>
    <string>chessButton/3A.png</string>
  </dict>
  <dict>
    <key>-3</key>
    <string>chessButton/3B.png</string>
  </dict>
  <dict>
    <key>-333</key>
    <string>chessButton/3C.png</string>
  </dict>
  <dict>
    <key>4</key>
    <string>chessButton/4A.png</string>
  </dict>
  <dict>
    <key>-4</key>
    <string>chessButton/4B.png</string>
  </dict>
  <dict>
    <key>-444</key>
    <string>chessButton/4C.png</string>
  </dict>
  <dict>
    <key>5</key>
    <string>chessButton/5A.png</string>
  </dict>
  <dict>
    <key>-5</key>
    <string>chessButton/5B.png</string>
  </dict>
  <dict>
    <key>-555</key>
    <string>chessButton/5C.png</string>
  </dict>
  <dict>
    <key>6</key>
    <string>chessButton/6A.png</string>
  </dict>
  <dict>
    <key>-6</key>
    <string>chessButton/6B.png</string>
  </dict>
  <dict>
    <key>-666</key>
    <string>chessButton/6C.png</string>
  </dict>
  <dict>
    <key>7</key>
    <string>chessButton/7A.png</string>
  </dict>
  <dict>
    <key>-7</key>
    <string>chessButton/7B.png</string>
  </dict>
  <dict>
    <key>-777</key>
    <string>chessButton/7C.png</string>
  </dict>
  <dict>
    <key>8</key>
    <string>chessButton/8A.png</string>
  </dict>
  <dict>
    <key>-8</key>
    <string>chessButton/8B.png</string>
  </dict>
  <dict>
    <key>-888</key>
    <string>chessButton/8C.png</string>
  </dict>
  <dict>
    <key>9</key>
    <string>chessButton/9A.png</string>
  </dict>
  <dict>
    <key>-9</key>
    <string>chessButton/9B.png</string>
  </dict>
  <dict>
    <key>-999</key>
    <string>chessButton/9C.png</string>
  </dict>
  <dict>
    <key>10</key>
    <string>chessButton/10A.png</string>
  </dict>
  <dict>
    <key>-10</key>
    <string>chessButton/10B.png</string>
  </dict>
  <dict>
    <key>-101010</key>
    <string>chessButton/10C.png</string>
  </dict>
</plist>