<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5625,0.0348837}</string>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{53,75},{46,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0465116}</string>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{1,73},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4875,0.0348837}</string>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{59,37},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.0465116}</string>
                <key>spriteOffset</key>
                <string>{4,-26}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.0465116}</string>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{55,1},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{1,37},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Knight_Dead.png</string>
            <key>size</key>
            <string>{114,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ea316507851b8ccdbb88fb98d5777c:37bd94114eb9c81cc5cc5dcf148f9f5e:b132d79316c484150cdc9baa4bf57776$</string>
            <key>textureFileName</key>
            <string>Knight_Dead.png</string>
        </dict>
    </dict>
</plist>
