<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.479452,0.129412}</string>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.410959,0.152941}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{64,139},{63,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39726,0.141176}</string>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{1,80},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.287671,0.141176}</string>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{62,1},{67,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.315068,0.141176}</string>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{62,70},{67,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_Knight_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.356164,0.129412}</string>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{1,147},{67,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Knight_Skill.png</string>
            <key>size</key>
            <string>{128,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27b98f5cd73578d7416ea537a514081:90ea386335255461019e5cb27db67c35:4714e3066db05857d06880e4d61e8bdf$</string>
            <key>textureFileName</key>
            <string>Knight_Skill.png</string>
        </dict>
    </dict>
</plist>
