<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Knight_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.120879}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{1,143},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Knight_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.431373,0.120879}</string>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{47,143},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Knight_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.382353,0.131868}</string>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Knight_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509804,0.120879}</string>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{1,74},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Knight_Attack.png</string>
            <key>size</key>
            <string>{94,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b322b5c2a86bc4a2f640f6f7e05cf3e:40b538a138ed6b36081c7e32bc833e1c:1ae0bacebfc714cf63341705a335069b$</string>
            <key>textureFileName</key>
            <string>Knight_Attack.png</string>
        </dict>
    </dict>
</plist>
