<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46729,0.476744}</string>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{45,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{1,141},{45,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.429907,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{48,141},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.345794,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{91,70}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448598,0.511628}</string>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{1,73},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Knight_Attack.png</string>
            <key>size</key>
            <string>{94,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db755a16d0d7436afd65d3fa238dc238:7ad4533b01efb566456c16dc56f766a5:1ae0bacebfc714cf63341705a335069b$</string>
            <key>textureFileName</key>
            <string>Knight_Attack.png</string>
        </dict>
    </dict>
</plist>
