<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{455,1},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.453125,0.0703125}</string>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,1},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.476563,0.0625}</string>
                <key>spriteOffset</key>
                <string>{21,-30}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{217,1},{86,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.476563,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{126,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.460938,0.0625}</string>
                <key>spriteOffset</key>
                <string>{15,-21}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{129,1},{72,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_Kunoichi_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.460938,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-8,-22}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{305,1},{64,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kunoichi_Attack.png</string>
            <key>size</key>
            <string>{488,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a27e190ae5c2afc504c51c8859bd3dc:6ea8c8845e98acdb5fc96f3396c8592f:dc90a203e0d78f4eca6b4bd5c949d1de$</string>
            <key>textureFileName</key>
            <string>Kunoichi_Attack.png</string>
        </dict>
    </dict>
</plist>
