<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.352,0.101852}</string>
                <key>spriteOffset</key>
                <string>{-28,-2}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{1,83},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.384,0.111111}</string>
                <key>spriteOffset</key>
                <string>{-19,-8}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{82,1},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.392,0.101852}</string>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{82,168},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.424,0.101852}</string>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{79,62}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{1,175},{79,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448,0.101852}</string>
                <key>spriteOffset</key>
                <string>{21,-14}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{62,83},{83,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.472,0.101852}</string>
                <key>spriteOffset</key>
                <string>{22,-7}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496,0.111111}</string>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{130,81},{55,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_Kunoichi_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52,0.111111}</string>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{31,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{155,1},{31,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kunoichi_Skill.png</string>
            <key>size</key>
            <string>{187,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:631ed2d7632b387a9900fd5f2aac67ef:0b19814735a81b13a524ff1a27f95548:65de9cc5f2e091b8deaf37ffa43df41d$</string>
            <key>textureFileName</key>
            <string>Kunoichi_Skill.png</string>
        </dict>
    </dict>
</plist>
