<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Kunoichi_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.460938,0.03125}</string>
                <key>spriteOffset</key>
                <string>{-4,-33}</string>
                <key>spriteSize</key>
                <string>{28,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Kunoichi_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.03125}</string>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{31,1},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Kunoichi_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492188,0.03125}</string>
                <key>spriteOffset</key>
                <string>{-1,-41}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{65,1},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Kunoichi_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539063,0.03125}</string>
                <key>spriteOffset</key>
                <string>{8,-48}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{107,1},{44,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_Kunoichi_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539063,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{16,-57}</string>
                <key>spriteSize</key>
                <string>{60,14}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{65,49},{60,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kunoichi_Dead.png</string>
            <key>size</key>
            <string>{140,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba4cf86fd02da6e8e0630ec418999076:c850fbe597c619ae98f980183112060a:59c4d4102b5d45555d3f701727f56ffb$</string>
            <key>textureFileName</key>
            <string>Kunoichi_Dead.png</string>
        </dict>
    </dict>
</plist>
