<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.208333,0.15534}</string>
                <key>spriteOffset</key>
                <string>{-35,-11}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{1,67},{38,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.283333,0.145631}</string>
                <key>spriteOffset</key>
                <string>{-26,-11}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{16,1},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.358333,0.145631}</string>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{38,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{54,1},{38,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.433333,0.145631}</string>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{62,66},{40,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.475,0.15534}</string>
                <key>spriteOffset</key>
                <string>{9,-29}</string>
                <key>spriteSize</key>
                <string>{56,23}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{54,41},{56,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_FireVizard_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.145631}</string>
                <key>spriteOffset</key>
                <string>{21,-34}</string>
                <key>spriteSize</key>
                <string>{64,13}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireVizard_Dead.png</string>
            <key>size</key>
            <string>{112,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03ae28510472567fab6904460f9ebc9:a5f36ee1d0caef7d979e6c1385ad8fee:fb059a293a54b4fdbebe0b8fada74b6d$</string>
            <key>textureFileName</key>
            <string>FireVizard_Dead.png</string>
        </dict>
    </dict>
</plist>
