<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.372093,0.277778}</string>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{27,66}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{164,212},{27,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.310078,0.277778}</string>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{49,66}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{164,161},{49,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.286822,0.277778}</string>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{102,161},{77,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.271318,0.283951}</string>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{1,159},{99,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.271318,0.277778}</string>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{1,87},{115,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.255814,0.283951}</string>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{117,74}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{120,85},{117,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.24031,0.277778}</string>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{117,82}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{120,1},{117,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_FireVizard_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.24031,0.283951}</string>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{117,84}</string>
                <key>spriteSourceSize</key>
                <string>{129,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireVizard_Skill.png</string>
            <key>size</key>
            <string>{238,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987fd8bad23a55cd9a9f3e4b10ef1113:9a0292fc39b3275f76a74b9f558f7df3:e8c11f88b2866b8ee798acdc7ce933ad$</string>
            <key>textureFileName</key>
            <string>FireVizard_Skill.png</string>
        </dict>
    </dict>
</plist>
