<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_FireVizard_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.354839,0.141509}</string>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{43,1},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_FireVizard_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.387097,0.150943}</string>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_FireVizard_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419355,0.150943}</string>
                <key>spriteOffset</key>
                <string>{13,-13}</string>
                <key>spriteSize</key>
                <string>{80,58}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{169,1},{80,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_FireVizard_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.459677,0.150943}</string>
                <key>spriteOffset</key>
                <string>{19,-13}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{83,1},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireVizard_Attack.png</string>
            <key>size</key>
            <string>{250,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13164710b3007c76246cecce1a7b7461:590fdc03126931f1b63ce053b9c6b2a8:c17329d184ff6dd6aaf76c297452c7ce$</string>
            <key>textureFileName</key>
            <string>FireVizard_Attack.png</string>
        </dict>
    </dict>
</plist>
