<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_BlueSlime_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464567,0.189189}</string>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_BlueSlime_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480315,0.189189}</string>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,74}</string>
                <key>textureRect</key>
                <string>{{58,1},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_BlueSlime_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488189,0.189189}</string>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{69,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,74}</string>
                <key>textureRect</key>
                <string>{{1,39},{69,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_BlueSlime_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511811,0.189189}</string>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,74}</string>
                <key>textureRect</key>
                <string>{{1,77},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_BlueSlime_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.527559,0.189189}</string>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,74}</string>
                <key>textureRect</key>
                <string>{{72,39},{57,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlueSlime_Attack.png</string>
            <key>size</key>
            <string>{118,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ef13deae6f24dbf50a2bbc260cb93d:d5b3734a7dce18d32be67c2a640a7d0c:4cc1a1f7ef3a7c013e685b38764d0c1d$</string>
            <key>textureFileName</key>
            <string>BlueSlime_Attack.png</string>
        </dict>
    </dict>
</plist>
