<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.484375,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{-3,-31}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{133,129},{40,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.460938,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.476563,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{1,-32}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.484375,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-11,-32}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{129,65},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492188,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{67,131},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.484375,0.03125}</string>
                <key>spriteOffset</key>
                <string>{3,-31}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{67,65},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.484375,0.03125}</string>
                <key>spriteOffset</key>
                <string>{-20,-31}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,83},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_LightningMage_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492188,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{-19,-31}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{133,1},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningMage_Run.png</string>
            <key>size</key>
            <string>{198,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08d4b5b5c332a4c2a69db9495f530d8:7733b305fbc5ca64e7be46d2e27069c5:a5b2b484d2df6432a038d3a3b2da25b9$</string>
            <key>textureFileName</key>
            <string>LightningMage_Run.png</string>
        </dict>
    </dict>
</plist>
