<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_BlackWerewolf</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.421875,0.0546875}</string>
                <key>spriteOffset</key>
                <string>{-11,-21}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{103,1},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_BlackWerewolf</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-9,-21}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{193,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_BlackWerewolf</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.0625}</string>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_BlackWerewolf</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.0703125}</string>
                <key>spriteOffset</key>
                <string>{-6,-22}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{281,1},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackWerewolf.png</string>
            <key>size</key>
            <string>{364,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67c6027a79c96e18c20cd364234d3acf:d2d7914d2a6f9fb5119ac43efc4ccaf3:4ee3379b3789d0486674b0815f26bbec$</string>
            <key>textureFileName</key>
            <string>BlackWerewolf.png</string>
        </dict>
    </dict>
</plist>
