<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Samurai_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.417323,0.126214}</string>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,103}</string>
                <key>textureRect</key>
                <string>{{1,143},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Samurai_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.433071,0.135922}</string>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,103}</string>
                <key>textureRect</key>
                <string>{{56,143},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Samurai_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511811,0.126214}</string>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Samurai_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.519685,0.135922}</string>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,103}</string>
                <key>textureRect</key>
                <string>{{1,72},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Samurai_Attack.png</string>
            <key>size</key>
            <string>{110,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4c1e6022b66f9eb121294cb4c347ec:c18f1b6cf2ff142470fa280f558d1793:96a45aee2305c4ca6a9ce36d3a4781c3$</string>
            <key>textureFileName</key>
            <string>Samurai_Attack.png</string>
        </dict>
    </dict>
</plist>
