<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_SkeletonWarrior_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.515625,0.0703125}</string>
                <key>spriteOffset</key>
                <string>{-9,-26}</string>
                <key>spriteSize</key>
                <string>{62,76}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_SkeletonWarrior_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{229,1},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_SkeletonWarrior_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.03125}</string>
                <key>spriteOffset</key>
                <string>{14,-34}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{79,1},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_SkeletonWarrior_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{8,-35}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{161,1},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SkeletonWarrior_Attack.png</string>
            <key>size</key>
            <string>{302,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5101e87ddd03e51fef363d3726fa0741:a92d95c3c894c47ece85446ad89a6d48:2cf3871eb1061e250770bf0444fc76d6$</string>
            <key>textureFileName</key>
            <string>SkeletonWarrior_Attack.png</string>
        </dict>
    </dict>
</plist>
