<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.559055,0.100917}</string>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.559055,0.100917}</string>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,70},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.559055,0.0917431}</string>
                <key>spriteOffset</key>
                <string>{-7,-15}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,346},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.566929,0.100917}</string>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,413},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.582677,0.110092}</string>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,139},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.598425,0.0917431}</string>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,208},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606299,0.100917}</string>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,480},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_Samurai_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.598425,0.100917}</string>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{1,277},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Samurai_Run.png</string>
            <key>size</key>
            <string>{59,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b42aa39e8197618625b233db596c5923:c6bdc03af9b264038e91720e7263c42e:2226657b73cdef63e882c9c99f992bca$</string>
            <key>textureFileName</key>
            <string>Samurai_Run.png</string>
        </dict>
    </dict>
</plist>
