<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_SamuraiCommander_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511811,0.108911}</string>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{49,87}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{260,1},{49,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_SamuraiCommander_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.527559,0.108911}</string>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{189,1},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_SamuraiCommander_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.527559,0.108911}</string>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_SamuraiCommander_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.543307,0.0990099}</string>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{100,1},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SamuraiCommander_Attack.png</string>
            <key>size</key>
            <string>{310,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:569091acfce24519e20d5d0d26309b9c:092bd9eff62e995121aa2b57b31ac7e8:3a37243cc1214205cbc74c1635a7d58a$</string>
            <key>textureFileName</key>
            <string>SamuraiCommander_Attack.png</string>
        </dict>
    </dict>
</plist>
