<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.515385,0.0973451}</string>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{44,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492308,0.079646}</string>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{44,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{47,1},{44,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0884956}</string>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{50,85}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{93,1},{50,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492308,0.0884956}</string>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{42,77}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{145,1},{42,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0884956}</string>
                <key>spriteOffset</key>
                <string>{-7,-16}</string>
                <key>spriteSize</key>
                <string>{48,71}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{145,45},{48,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_SamuraiCommander_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.0973451}</string>
                <key>spriteOffset</key>
                <string>{18,-39}</string>
                <key>spriteSize</key>
                <string>{88,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{93,95},{88,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SamuraiCommander_Dead.png</string>
            <key>size</key>
            <string>{223,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7174066d861ddcc8e6fb600b27af5e5b:0012f8505921939cde5c7aa066e87fca:1324f2c2afc48743416ad2cf1434658e$</string>
            <key>textureFileName</key>
            <string>SamuraiCommander_Dead.png</string>
        </dict>
    </dict>
</plist>
