<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.515625,0.106557}</string>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53125,0.114754}</string>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{177,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53125,0.114754}</string>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{235,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.546875,0.114754}</string>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{293,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.523438,0.122951}</string>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{59,1},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.546875,0.106557}</string>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{351,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.554688,0.0983607}</string>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{409,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_SamuraiCommander_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.570313,0.114754}</string>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{117,1},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SamuraiCommander_Run.png</string>
            <key>size</key>
            <string>{466,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c8005b1dacb43a922a4ab8f327b906e:016638d6d9bc835344ad49e750bdd538:9c056ba7cb8b10d71cf9b5bd05553ac5$</string>
            <key>textureFileName</key>
            <string>SamuraiCommander_Run.png</string>
        </dict>
    </dict>
</plist>
