<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_SamuraiCommander_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448819,0.0560748}</string>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{127,107}</string>
                <key>textureRect</key>
                <string>{{188,1},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_SamuraiCommander_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456693,0.046729}</string>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{57,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,107}</string>
                <key>textureRect</key>
                <string>{{58,1},{57,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_SamuraiCommander_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456693,0.046729}</string>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{55,107}</string>
                <key>spriteSourceSize</key>
                <string>{127,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_SamuraiCommander_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488189,0.046729}</string>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{69,99}</string>
                <key>spriteSourceSize</key>
                <string>{127,107}</string>
                <key>textureRect</key>
                <string>{{117,1},{69,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_SamuraiCommander_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.551181,0.046729}</string>
                <key>spriteOffset</key>
                <string>{19,-10}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{127,107}</string>
                <key>textureRect</key>
                <string>{{251,1},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SamuraiCommander_Skill.png</string>
            <key>size</key>
            <string>{339,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:583620a4744b4abc02a8333f354b1767:962eae81b6fea9c942d9833bcf4f5eaa:6b434458db41f18ea7dde4451eedd649$</string>
            <key>textureFileName</key>
            <string>SamuraiCommander_Skill.png</string>
        </dict>
    </dict>
</plist>
