<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.421875,0.28125}</string>
                <key>spriteOffset</key>
                <string>{-16,-30}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,141},{54,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.273438}</string>
                <key>spriteOffset</key>
                <string>{-16,-30}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{57,141},{54,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.28125}</string>
                <key>spriteOffset</key>
                <string>{4,-30}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.453125,0.273438}</string>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{96,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,71},{96,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Samurai_Attack.png</string>
            <key>size</key>
            <string>{112,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a2a701172f66520e9d34e42b45d80b:06b04cf318db742a7c6a9f4bd324b7d2:96a45aee2305c4ca6a9ce36d3a4781c3$</string>
            <key>textureFileName</key>
            <string>Samurai_Attack.png</string>
        </dict>
    </dict>
</plist>
