<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.0390625}</string>
                <key>spriteOffset</key>
                <string>{-12,-30}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,71},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.0546875}</string>
                <key>spriteOffset</key>
                <string>{-12,-30}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46875,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-8,-35}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{49,1},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492188,0.0703125}</string>
                <key>spriteOffset</key>
                <string>{-8,-38}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{93,1},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492188,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-4,-40}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{71,61},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Samurai_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.523438,0.0625}</string>
                <key>spriteOffset</key>
                <string>{11,-55}</string>
                <key>spriteSize</key>
                <string>{62,18}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{121,55},{62,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Samurai_Dead.png</string>
            <key>size</key>
            <string>{140,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a51f238f0061a6f6bfbf3839904422c:57522934f0b276f2734e30f7814e4b70:aa3292de4546eb28ad6b70d9303e9c5d$</string>
            <key>textureFileName</key>
            <string>Samurai_Dead.png</string>
        </dict>
    </dict>
</plist>
