<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.304688,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-27,-31}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,69},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.078125}</string>
                <key>spriteOffset</key>
                <string>{-26,-31}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,137},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-26,-32}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,341},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.34375,0.0625}</string>
                <key>spriteOffset</key>
                <string>{-25,-32}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,407},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.28125,0.0546875}</string>
                <key>spriteOffset</key>
                <string>{-26,-31}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,205},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.34375,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-26,-31}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,273},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.335938,0.078125}</string>
                <key>spriteOffset</key>
                <string>{-26,-32}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,473},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.351563,0.046875}</string>
                <key>spriteOffset</key>
                <string>{-26,-31}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Samurai_Run.png</string>
            <key>size</key>
            <string>{60,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aceb9d1748626e73f7eec7284ba89b5:c403976bcd37b5e6ae7bcc5e4eb61525:2226657b73cdef63e882c9c99f992bca$</string>
            <key>textureFileName</key>
            <string>Samurai_Run.png</string>
        </dict>
    </dict>
</plist>
