<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.285714,0.164179}</string>
                <key>spriteOffset</key>
                <string>{-24,-17}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,425},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.309524,0.164179}</string>
                <key>spriteOffset</key>
                <string>{-22,-17}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{47,425},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.31746,0.156716}</string>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,355},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.333333,0.156716}</string>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,197},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.349206,0.156716}</string>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,105},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.365079,0.156716}</string>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_WandererMagican_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380952,0.156716}</string>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{1,285},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WandererMagican_Skill.png</string>
            <key>size</key>
            <string>{102,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85280907bbc0623369b5a442a10b1d76:b87fbe7c9c1f3199576bb523fcd290a9:816106b232582e9a3665f0db0683667f$</string>
            <key>textureFileName</key>
            <string>WandererMagican_Skill.png</string>
        </dict>
    </dict>
</plist>
