<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_WandererMagican_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.222222,0.168421}</string>
                <key>spriteOffset</key>
                <string>{-30,-5}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,95}</string>
                <key>textureRect</key>
                <string>{{1,107},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_WandererMagican_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.324786,0.168421}</string>
                <key>spriteOffset</key>
                <string>{-21,-6}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{117,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_WandererMagican_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.452991,0.178947}</string>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{61,43}</string>
                <key>spriteSourceSize</key>
                <string>{117,95}</string>
                <key>textureRect</key>
                <string>{{1,44},{61,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_WandererMagican_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.512821,0.178947}</string>
                <key>spriteOffset</key>
                <string>{13,-29}</string>
                <key>spriteSize</key>
                <string>{65,13}</string>
                <key>spriteSourceSize</key>
                <string>{117,95}</string>
                <key>textureRect</key>
                <string>{{46,44},{65,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WandererMagican_Dead.png</string>
            <key>size</key>
            <string>{61,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fdbac01ee1f9527262dd36fb6a00f1c:e7bbd8781b7af4a02cb6bd0681758c5d:a243f50e2b3eef8ac8a7e76b109494f9$</string>
            <key>textureFileName</key>
            <string>WandererMagican_Dead.png</string>
        </dict>
    </dict>
</plist>
