<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.531646,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.493671,0.097561}</string>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{63,1},{49,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481013,0.097561}</string>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{60,89},{47,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518987,0.0853659}</string>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{60,51},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518987,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{1,48},{57,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Berserker_Dead</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.493671,0.097561}</string>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{1,86},{57,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Berserker_Dead.png</string>
            <key>size</key>
            <string>{114,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fa4533340c6c5d34422e850cce7242:db50997eedd797e47353e868d0922b5a:037a75eb0de8a6f89904bcd2b518e4c2$</string>
            <key>textureFileName</key>
            <string>Berserker_Dead.png</string>
        </dict>
    </dict>
</plist>
