<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_NinjaMonk_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.382022,0.0886076}</string>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{74,1},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_NinjaMonk_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.438202,0.0886076}</string>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{57,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{70,72},{57,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_NinjaMonk_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.483146,0.0759494}</string>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_NinjaMonk_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.561798,0.0759494}</string>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{1,70},{65,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_NinjaMonk_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.640449,0.0759494}</string>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{1,137},{65,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaMonk_Skill.png</string>
            <key>size</key>
            <string>{128,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425eac8c4182fba1eedd2eeabcfc9c4d:58330089239f69789e6903e7dd088b38:56a73e6681128adca90a1700511f8106$</string>
            <key>textureFileName</key>
            <string>NinjaMonk_Skill.png</string>
        </dict>
    </dict>
</plist>
