<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.549296,0.0116279}</string>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{51,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,199},{51,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.577465,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,327},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.549296,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,67},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478873,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492958,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{51,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,263},{51,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492958,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,389},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Knight_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464789,0.0232558}</string>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{1,133},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Knight_Run.png</string>
            <key>size</key>
            <string>{59,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c48a21fb708b5784c7601f1a25e697:278506599a9b5afb1c822e03bbcff927:46f15313778b5bf9074f80d20ff524c6$</string>
            <key>textureFileName</key>
            <string>Knight_Run.png</string>
        </dict>
    </dict>
</plist>
