<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.550725,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,69},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.550725,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,267},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521739,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,135},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521739,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565217,0.0609756}</string>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{51,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,395},{51,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.623188,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,331},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Berserker_Run</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.608696,0.0731707}</string>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{1,201},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Berserker_Run.png</string>
            <key>size</key>
            <string>{59,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d0457fa4a3fb0ffb5194f435bd281cd:496f747ebb6b5be15ac5f4023f1938e4:7de2679ba77ff98b074bdc58b1dbb8ef$</string>
            <key>textureFileName</key>
            <string>Berserker_Run.png</string>
        </dict>
    </dict>
</plist>
