<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.621622,0.0722892}</string>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.540541,0.060241}</string>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{1,61},{62,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.527027,0.0843373}</string>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{80,1},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.378378,0.0843373}</string>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{74,63},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.432432,0.0722892}</string>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{144,64},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Berserker_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.486486,0.0722892}</string>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{147,1},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Berserker_Skill.png</string>
            <key>size</key>
            <string>{216,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c57b7c287315f57c97ab050d9bc21657:48adf1af2fdf33097954cf71c6f89ed6:ab92ad991c2ff2ea3229abbd61fdee0d$</string>
            <key>textureFileName</key>
            <string>Berserker_Skill.png</string>
        </dict>
    </dict>
</plist>
