<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_Berserker_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0697674}</string>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{1,141},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Berserker_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.431373,0.0697674}</string>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{47,141},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Berserker_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.382353,0.0581395}</string>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Berserker_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0581395}</string>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{1,73},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Berserker_Attack.png</string>
            <key>size</key>
            <string>{94,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de7140745b82e06c739ab1ab0f431cbd:a71fdfa64ab6643cf9be3fd41eb433cd:76651ec29caa81fca854c104cbc9883b$</string>
            <key>textureFileName</key>
            <string>Berserker_Attack.png</string>
        </dict>
    </dict>
</plist>
