<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.230159,0.0947368}</string>
                <key>spriteOffset</key>
                <string>{-30,-11}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{399,1},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.253968,0.0947368}</string>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{339,1},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.277778,0.0842105}</string>
                <key>spriteOffset</key>
                <string>{-17,-9}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{275,1},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.285714,0.0947368}</string>
                <key>spriteOffset</key>
                <string>{-17,-9}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{205,1},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.301587,0.0842105}</string>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{94,69}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{109,1},{94,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_WandererMagican_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.309524,0.0947368}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{106,75}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WandererMagican_Attack.png</string>
            <key>size</key>
            <string>{446,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78de8d7b28a44aa39b5d414a249aa9d0:0dc3aaab8b04ba11c5012d6dfa8c05b7:40ccdf63db563b8458e7ea820a9f0ec6$</string>
            <key>textureFileName</key>
            <string>WandererMagican_Attack.png</string>
        </dict>
    </dict>
</plist>
