<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.126984,0.1875}</string>
                <key>spriteOffset</key>
                <string>{-46,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{93,471},{34,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.134921,0.197917}</string>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{90,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,471},{90,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.150794,0.197917}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,335},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.197917}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,265},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.190476,0.197917}</string>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{118,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,401},{118,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.206349,0.197917}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.214286,0.197917}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,67},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238095,0.208333}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,133},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_LightningMage_Skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.253968,0.197917}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{1,199},{126,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningMage_Skill.png</string>
            <key>size</key>
            <string>{128,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5611fa3baef3140a391827a56c653236:d67f866ffb65be80eaf42c260e9a510e:62c354bf48b3c3ce86d6030ef487cea3$</string>
            <key>textureFileName</key>
            <string>LightningMage_Skill.png</string>
        </dict>
    </dict>
</plist>
