<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_LightningMage_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.188811}</string>
                <key>spriteOffset</key>
                <string>{9,-21}</string>
                <key>spriteSize</key>
                <string>{82,65}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{211,1},{82,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_LightningMage_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.429688,0.181818}</string>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{80,67}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{295,1},{80,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_LightningMage_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4375,0.181818}</string>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{112,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_LightningMage_Attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.429688,0.181818}</string>
                <key>spriteOffset</key>
                <string>{9,-24}</string>
                <key>spriteSize</key>
                <string>{94,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{115,1},{94,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningMage_Attack.png</string>
            <key>size</key>
            <string>{376,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa561a264cb015dc14c3ae128ae3aca:2ada4376c8e224cc907238e6be456895:ea016d250023daee99e332e38bf63d00$</string>
            <key>textureFileName</key>
            <string>LightningMage_Attack.png</string>
        </dict>
    </dict>
</plist>
